<p>
    <a class="btn btn-primary" ng-href="#/event/add">New Event</a>
    <!--<a class="btn btn-default" href="{{export}}&format=csv">Export to csv</a>-->
</p>

<div class="well">
    <filters></filters>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    CTA's involvement
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">
                    <pagination boundary-links="true" total-items="events.total" items-per-page="events.limit" page="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="event in events.items">
                <td>
                    <a ng-href="#/event/{{event.id}}">
                        {{event.title}}
                    </a>
                </td>
                <td>
                    {{event.ctas_involvement}}
                </td>
                <td>
                    {{event.start_date | date:'dd MMMM yyyy'}}
                </td>
                <td>
                    {{event.end_date | date:'dd MMMM yyyy'}}
                </td>
                <td>
                   <a ng-href="#/event/{{event.id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
            <tr ng-show="!events">
                <td colspan="6">No events</td>
            </tr>
        </tbody>
    </table>
</div>